.product-header-image{
  object-fit: contain;
  width: 100%;
  height: 600px;
}

.product-item{
  margin-bottom: 40px;
  border: 1px solid #ccc;
}

.product-item img{
  width: 100%;
  height: 300px;
  object-fit: contain;
}

.product-item .product-details {
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  padding: 15px;
}

.product-item .name-head{
  font-size: 20px;
  font-weight: 600;
}
.product-item h6{
  text-align: center;
}
.product-item .product-footer{
  display: flex;
  justify-content: space-between;
  padding: 10px;
}

.original-price {
  text-decoration: line-through;
  font-size: medium;
}

.discounted-price{
  font-size: medium;
  color: red;
  text-align: center;
}

.discount-timer-box {
  background-image: url('https://th.bing.com/th/id/R.8f34f4872a254b8bff46db7aca7070bd?rik=eWAGmVHYNzqPNw&riu=http%3a%2f%2fwallpapercave.com%2fwp%2fxo1DOKG.jpg&ehk=Op8Sxa6%2brJt6eHK86izfuFnbd%2fNNYADk1HlS3qsg3RY%3d&risl=&pid=ImgRaw&r=0');
  background-size: cover;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
  padding: 10px;
  display: inline-block;
  margin-top: 10px;
  position: fixed;
  top: 50px; /* Adjust the top value as needed */
  left: 10%;
  transform: translateX(-50%);
  z-index: 9999; /* Set a high z-index to ensure it appears above other elements */
}

.discount-timer-box .top-section {
  text-align: center;
  margin-bottom: 10px;
}

.discount-timer-box .middle-section {
  text-align: center;
  margin-bottom: 20px;
}

.discount-timer-box .bottom-section {
  text-align: center;
}

.discount-sale-text {
  font-size: 24px;
  color: white;
}

.time-left-text {
  font-size: 16px;
  text-decoration: underline;
  color: white;
}

.timer-container {
  display: inline-block;
  padding: 10px;
  border-radius: 5px;
  font-size: xx-large;
  font-weight: bold;
  font-family: "Courier New", monospace;
  color: greenyellow;
}
.timer-container:hover{
  transform: scale(1.3);
  color: red;
}

.discount-timer {
  font-size: 36px;
  font-weight: bold;
  color: white;
  letter-spacing: 4px;
}

.timer-digit {
  display: inline-block;
  padding: 0 2px;
  background-color: #000;
  border-radius: 3px;
}

.buy-everything-text {
  font-size: 18px;
  margin-bottom: 5px;
  color: white;
}

.discount-percent {
  font-size: 28px;
  font-weight: bold;
  color: white;
}
.discount-percent:hover {
  transform: scale(1.3);
  color: red; /* Adjust the scale value as desired */
}


.sale-image {
  display: block;
  margin: 0 auto;
  width: 200px;
  height: 200px;
  object-fit: cover;
  border-radius: 50%;
  margin-top: 20px;
}



.carousels {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 400px;
  background-image: url('https://wallpapercave.com/wp/wp7133980.jpg');
}

.carousel-slides {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 200px;
  height: 300px;
  margin: 0 10px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.carousels-image {
  width: 150px;
  height: 200px;
  object-fit:contain;
  margin-bottom: 10px;
}

.carousels-title {
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  margin-bottom: 5px;
}

.carousels-price {
  font-size: 14px;
  color: #888;
  text-align: center;
}
.carousels-author {
  font-size: 14px;
  color: #101010;
  text-align: center;
}


.carousel-wrapper {
  width: 100%;
  height: 600px; /* Adjust the height as needed */
  background-color: #6a6a6a;
  position: relative;
  overflow: hidden;
}

.carouselss {
  display: flex;
  align-items: center;
  width: 100%;
  height: 100%;
}

.carouselss-slides {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%; /* Adjust the width as needed */
  height: 400px; /* Adjust the height as needed */
  margin: 0 10px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.carouselss-image {
  width: 800px;
  height: 100%;
  object-fit:cover;
}
